<center>
<h1><font color="#883EBA">Here are your results:</font></h1>
<h3>"<%= @word %>" shows up in "<%= @compare %>" <b><font color="#2f96b4"><%= @count %></font></b> time(s)</h3>
<br>
<h4>Thank you for using the Word Count Machine! Please feel free to play again!!</h4>
</center>
