<h1>Welcome to the Word Count Machine!</h1>
<form action="/count">
  <div class="form-group">
     <label for="compare">Please enter a sentence.</label>
     <input id="compare" name="compare" class="form-control" type="text">
  </div>
  <div class="form-group">
     <label for="word">What word would you like to count?</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Count!</button>
</form>
